{% extends "base.html" %}
{% block content %}
  <div class="container aboutmin">
    <article class="pitches content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h2>Minute Pitch</h2>
            <p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. </br>With Minute Pitch you can use your 1 minute to actually say something meaningful!</br> #Pitch in a minute
          </p>
        </div>
        
     
    </article> 
  </div>
{% endblock content %}